/* Importing Custom Fonts */
@font-face {
    font-family: 'Formula Font';
    src: url('fonts/Formula1-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Formula Font';
    src: url('fonts/Formula1-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Formula Font';
    src: url('fonts/Formula1-Wide.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-stretch: expanded;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/TitilliumWeb-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/TitilliumWeb-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-f1-red: #e10600;
    --color-f1-red-bright: #ef0001;
    --color-f1-red-hover: #d6176f;
    --color-f1-logo-bg: #dc143c;

    --color-text-light: #fff;
    --color-text-grey: #ccc;
    --color-text-dark-grey: #666;
    --color-text-link: black;

    --background-dark: #000000;
    --background-content: #1a1a22;
    --background-featured: #060606;
    --background-quick-links: #c2c4f5;
    --background-footer: #333;
    --background-spotlight-placeholder: #ddd;

    --ui-grey-light: #aaa;
    --ui-grey-medium: #555;
    --ui-grey-dark: #333;
    --ui-border-light: #888;
    --ui-border-medium: #555;

    --overlay-dark-60: rgba(0,0,0,0.6);
    --overlay-gradient-hero: radial-gradient(circle, transparent 10%, rgba(0,0,0,0.7)), linear-gradient(to top, rgba(0,0,0,0.8) 0%, transparent 40%);
    --shadow-light: 0 2px 4px rgba(255,255,255,0.1);
    --shadow-subtle: 0 2px 4px rgba(0,0,0,0.1);
    --shadow-medium: 0px 4px 4px rgba(0,0,0,0.1);
    --shadow-strong: 0 8px 16px rgba(0,0,0,0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-dark);
    overflow-x: hidden;
    overflow-y: scroll; /* Always show vertical scrollbar to prevent layout shift */
}

a {
    text-decoration: none;
    color: var(--color-text-link);
}

/* Top Section (Nav Bar) */
.header {
    background-color: var(--background-dark);
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg width="100%25" height="100%25" viewBox="0 0 604 604" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="%233c3d42"%3E%3Cpath d="M498.887 64.6914L563.251 0.324951H547.162L482.793 64.6914H498.887Z"/%3E%3Cpath d="M373.131 138.985H389.222L463.51 64.6914H447.422L373.131 138.985Z"/%3E%3Cpath d="M539.408 94.5181H507.037L398.811 202.749H431.181L539.408 94.5181Z"/%3E%3Cpath d="M502.781 94.5181H468.244L360.024 202.742H349.31L210.479 341.581H221.802L360.629 202.749H394.555L502.781 94.5181Z"/%3E%3Cpath d="M267.781 370.643L376.011 262.417H341.469L233.243 370.643H267.781Z"/%3E%3Cpath d="M90.6777 237.31L283.362 44.6238H248.82L56.1357 237.31H90.6777Z"/%3E%3Cpath d="M87.8858 112.728L200.286 0.324951H183.117L70.7139 112.728H87.8858Z"/%3E%3Cpath d="M545.048 0.324951H527.878L463.51 64.6914H480.682L545.048 0.324951Z"/%3E%3Cpath d="M0 282.12V293.438L56.1353 237.31H44.8123L0 282.12Z"/%3E%3Cpath d="M353.848 138.985H371.017L445.311 64.6914H428.139L353.848 138.985Z"/%3E%3Cpath d="M30.5937 308.631L0 339.225V355.318L46.6874 308.631H30.5937Z"/%3E%3Cpath d="M279.76 155.594H255.605L3.58594 407.605H27.7468L279.76 155.594Z"/%3E%3Cpath d="M0 180.65V196.742L65.027 131.713H48.9354L0 180.65Z"/%3E%3Cpath d="M94.9258 237.31H127.297L319.98 44.6238H287.612L94.9258 237.31Z"/%3E%3Cpath d="M0 319.943V337.113L28.4821 308.631H11.3102L0 319.943Z"/%3E%3Cpath d="M196.664 380.474L86.1133 491.025H97.4362L207.987 380.474H196.664Z"/%3E%3Cpath d="M31.2457 237.31L0 268.555V280.635L43.325 237.31H31.2457Z"/%3E%3Cpath d="M269.289 204.999H278.292L344.305 138.985H335.303L269.289 204.999Z"/%3E%3Cpath d="M151.994 341.575L218.008 275.563H209.005L142.998 341.575H151.994Z"/%3E%3Cpath d="M279.4 204.999H287.834L353.848 138.985H345.412L279.4 204.999Z"/%3E%3Cpath d="M603.206 402.161H591.889L500.253 493.797H511.569L603.206 402.161Z"/%3E%3Cpath d="M93.5768 548.891L38.1426 604.325H54.2342L109.664 548.891H93.5768Z"/%3E%3Cpath d="M558.188 382.925L604 337.113V319.943L541.022 382.925H558.188Z"/%3E%3Cpath d="M587.604 298.54H598.926L604 293.466V282.143L587.604 298.54Z"/%3E%3Cpath d="M604 339.225L560.3 382.925H576.394L604 355.318V339.225Z"/%3E%3Cpath d="M54.2343 0.324951H38.1427L19.2832 19.1844H35.3769L54.2343 0.324951Z"/%3E%3Cpath d="M88.214 0.324951H79.2115L29.6816 49.8548H38.6842L88.214 0.324951Z"/%3E%3Cpath d="M29.6817 49.8547H18.3651L0 68.2199V79.5364L29.6817 49.8547Z"/%3E%3Cpath d="M0 54.6532V66.7283L16.8736 49.8547H4.80064L0 54.6532Z"/%3E%3Cpath d="M486.686 493.797H498.761L590.397 402.161H578.324L486.686 493.797Z"/%3E%3Cpath d="M204.68 454.276L130.393 528.569H146.48L220.767 454.282H232.847L316.486 370.643H304.404L220.772 454.276H204.68Z"/%3E%3Cpath d="M314.366 434.956L144.999 604.325H161.093L330.46 434.956H314.366Z"/%3E%3Cpath d="M380.262 262.417L272.036 370.643H304.405L412.631 262.417H380.262Z"/%3E%3Cpath d="M268.638 581.3H291.277L574.037 298.54H551.398L268.638 581.3Z"/%3E%3Cpath d="M74.2936 548.891L18.8594 604.325H36.0292L91.457 548.891H74.2936Z"/%3E%3Cpath d="M375.214 545.341L525.362 395.2H508.192L358.049 545.341H375.214Z"/%3E%3Cpath d="M574.037 298.54H586.119L604 280.658V268.579L574.037 298.54Z"/%3E%3Cpath d="M317.971 370.643L234.332 454.282H245.655L329.294 370.643H317.971Z"/%3E%3Cpath d="M295.083 434.956L125.716 604.325H142.886L312.254 434.956H295.083Z"/%3E%3Cpath d="M282.737 155.594L30.7197 407.605H53.3592L305.377 155.594H282.737Z"/%3E%3Cpath d="M143.934 548.605H134.932L79.2119 604.325H88.2144L143.934 548.605Z"/%3E%3Cpath d="M223.311 581.3H206.139L183.116 604.325H200.286L223.311 581.3Z"/%3E%3Cpath d="M0 161.367V178.535L46.8216 131.713H29.6519L0 161.367Z"/%3E%3Cpath d="M527.475 395.2L377.326 545.341H393.42L543.567 395.2H527.475Z"/%3E%3Cpath d="M548.428 298.54H524.267L241.511 581.3H265.667L548.428 298.54Z"/%3E%3Cpath d="M241.511 581.3H225.423L202.4 604.325H218.49L241.511 581.3Z"/%3E%3Cpath d="M72.5486 491.025H84.628L195.179 380.474H183.1L72.5465 491.025H56.4591L0 547.487V563.576L72.5486 491.025Z"/%3E%3Cpath d="M39.792 49.8548H48.232L97.7576 0.324951H89.3219L39.792 49.8548Z"/%3E%3Cpath d="M106.06 19.9813H123.231L142.886 0.324951H125.716L106.06 19.9813Z"/%3E%3Cpath d="M54.3475 491.025H37.1756L0 528.203V545.373L54.3475 491.025Z"/%3E%3Cpath d="M604 493.574V484.573L548.05 540.523H557.052L604 493.574Z"/%3E%3Cpath d="M558.16 540.523H566.594L603.999 503.117V494.684L558.16 540.523Z"/%3E%3Cpath d="M604.001 563.576V547.487L547.162 604.325H563.254L604.001 563.576Z"/%3E%3Cpath d="M36.0293 0.324951H18.8595L0 19.1844H17.1698L36.0293 0.324951Z"/%3E%3Cpath d="M604 545.373V528.203L527.878 604.325H545.048L604 545.373Z"/%3E%3Cpath d="M418.31 545.341H406.987L348.007 604.325H359.326L418.31 545.341Z"/%3E%3Cpath d="M591.19 460.129H579.117L434.917 604.325H446.996L591.19 460.129Z"/%3E%3Cpath d="M405.502 545.341H393.42L334.44 604.325H346.518L405.502 545.341Z"/%3E%3Cpath d="M604 460.129H592.681L448.483 604.325H459.804L604 460.129Z"/%3E%3Cpath d="M125.343 19.9813H141.437L161.093 0.324951H144.999L125.343 19.9813Z"/%3E%3Cpath d="M153.473 548.605H145.04L89.3223 604.325H97.758L153.473 548.605Z"/%3E%3Cpath d="M119.916 418.579L196.914 341.575H180.826L103.822 418.579H115.269H119.916Z"/%3E%3Cpath d="M202.566 454.276H185.397L111.109 528.57H128.279L202.566 454.276Z"/%3E%3Cpath d="M527.54 225.068H515.46L379.864 360.669H391.946L527.54 225.068Z"/%3E%3Cpath d="M347.825 202.742H335.746L196.913 341.575L208.995 341.581L347.825 202.742Z"/%3E%3Cpath d="M66.0135 418.562L0 484.573V493.574L75.0097 418.562H66.0135Z"/%3E%3Cpath d="M514.867 187.952L440.58 262.246H456.667L530.961 187.952H514.867Z"/%3E%3Cpath d="M76.1219 418.562L0 494.684V503.118L84.5555 418.562H76.1219Z"/%3E%3Cpath d="M219.116 275.563L153.103 341.575H161.543L227.556 275.563H219.116Z"/%3E%3Cpath d="M178.712 341.575H161.543L84.5557 418.562L101.708 418.579L178.712 341.575Z"/%3E%3Cpath d="M328.425 19.9068H339.741L359.323 0.324951H348.007L328.425 19.9068Z"/%3E%3Cpath d="M89.9971 112.728H106.091L218.489 0.324951H202.4L89.9971 112.728Z"/%3E%3Cpath d="M324.832 110.407H336.914L446.996 0.324951H434.919L324.832 110.407Z"/%3E%3Cpath d="M338.399 110.407H349.722L459.805 0.324951H448.484L338.399 110.407Z"/%3E%3Cpath d="M314.858 19.9068H326.933L346.515 0.324951H334.44L314.858 19.9068Z"/%3E%3Cpath d="M484.268 187.952H495.584L604 79.5365V68.22L484.268 187.952Z"/%3E%3Cpath d="M438.46 262.246L512.754 187.952H495.584L421.297 262.246H438.46Z"/%3E%3Cpath d="M470.701 187.952H482.776L604 66.7284V54.6533L470.701 187.952Z"/%3E%3Cpath d="M559.591 225.087H575.685L604 196.769V180.674L559.591 225.087Z"/%3E%3Cpath d="M540.331 225.088H557.477L604 178.56V161.395L540.324 225.068H529.025L393.431 360.669H404.747L540.331 225.088Z"/%3E%3C/g%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: 3000px auto;
    background-position: center top;
    padding: 1rem, 2rem;
    box-shadow: var(--shadow-light);
    position: relative;
    z-index: 50; /* Ensure header is above main content */
}

.header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 1.4rem 0;
    gap: 2rem;
    position: relative;
    z-index: 30;
}

.logo .f1-logo {
    background-color: var(--color-f1-logo-bg);
    color: var(--color-white);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.navigation ul {
    display: flex;
    list-style: none;
}

.navigation ul li:nth-child(1) {
    margin-right: 6.5rem;
    margin-left: 1.5rem;
}

.navigation ul li:nth-child(2) {
    margin-right: 6.5rem;
}

.navigation ul li:nth-child(3) {
    margin-right: 6.5rem;
}

.navigation ul li:nth-child(4) {
    margin-right: 0;
}

.navigation a {
    text-decoration: none;
    color: var(--color-text-light);
    font-weight: 500;
    /* This property makes the animation smooth */
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: inline-block; /* Ensures transform works correctly */
    font-family: 'Formula Font';
    font-size: 0.8rem;
}

.navigation a:hover {
    color: var(--color-f1-red); /* A classic F1 red for the hover color */
    transform: translateY(-2px); /* Moves the link up slightly */
}

.settings {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: auto;
    position: relative; /* Needed for dropdown positioning */
}
 
/* Settings Cog Icon */
#settings-cog {
    width: 24px;
    height: 24px;
    fill: var(--color-white); /* Cog color */
    transition: transform 0.5s ease-in-out, fill 0.3s ease; /* Animation transition */
}
 
/* Change color on hover */
#settings-cog:hover {
    fill: var(--color-f1-red-bright);
}

li {
    font-family: 'Titillium Web';
}

/* Dropdown Menu */
.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 30px); /* Position it below the cog with a 10px gap */
    right: -10px; /* Adjust to align as needed */
    background: none;
    border: none;
    border-radius: 4px;
    padding: 2px; /* This padding creates the border thickness for the glow */
    z-index: 100;
    min-width: 160px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    overflow: hidden; /* To contain the pseudo-element */
}

.dropdown-menu.show {
    display: block; /* Show the dropdown */
    opacity: 1;
    visibility: visible;
}

/* The rotating gradient pseudo-element */
.dropdown-menu.show::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: conic-gradient(var(--color-f1-red-bright));
    z-index: -1;
    animation: rotate 4s linear infinite;
}

/* Change gradient to black on hover */
.dropdown-menu:hover::before {
    background: conic-gradient(var(--color-black));
}

.dropdown-content-wrapper {
    background-color: var(--background-dark);
    padding: 0.5rem;
    border-radius: 5px; /* Slightly smaller than parent to show the 'border' */
    transition: background-color 0.3s ease;
}

.dropdown-menu button {
    width: 100%;
    padding: 0.4rem 1rem;
    background: none;
    border: none;
    color: var(--color-text-light);
    text-align: center;
    cursor: pointer;
    font-family: 'Titillium Web';
    font-size: 1rem;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out; /* Smooth transition for the pop-out effect */
}

.dropdown-menu:hover .dropdown-content-wrapper {
    background-color: var(--color-f1-red-bright); /* Red hover for the entire content area */
}

.modal-open {
    overflow: hidden; /* Prevent background from scrolling when modal is open */
}

.dropdown-menu:hover button {
    transform: translateY(-2px); /* Moves the button up slightly on hover */
}

/* Login Modal */
.modal {
    /* display: none; Hidden by default */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--overlay-dark-60);
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Vertical center */
    justify-content: center; /* Horizontal center */
}

.modal.show-modal {
    opacity: 1;
    visibility: visible;
}

.modal.show-modal .modal-content {
    /* This transform will be animated on show */
    transform: scale(1);
    opacity: 1;
}

.modal-content {
    background-color: var(--background-content);
    color: var(--color-text-light);
    padding: 2rem;
    border: 1px solid var(--ui-border-light);
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    position: relative; /* For child element positioning like the close button */
    font-family: 'Titillium Web';
    transform: scale(0.9); /* Start slightly smaller for the animation */
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    max-height: 90vh; /* Prevent modal from being too tall on small screens */
    overflow-y: auto; /* Allow scrolling within the modal if content overflows */
}

.close-btn {
    color: var(--ui-grey-light);
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: var(--color-text-light);
}

#login-form label {
    display: block;
    margin-bottom: 0.5rem;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid var(--ui-border-medium);
    background-color: var(--ui-grey-dark);
    color: var(--color-text-light);
}

#login-form .forgot-password {
    display: block;
    margin-bottom: 1.5rem;
    color: var(--color-text-grey);
    text-align: right;
}

#login-form button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

#login-form .login-btn {
    background-color: var(--color-f1-red-bright);
    color: var(--color-white);
}

#login-form .register-btn {
    background-color: var(--ui-grey-medium);
    color: var(--color-white);
}

/* Main Content */
.main {
    max-width: 1660px;
    margin: 0 auto;
    padding: 2rem; 
}

/* Hero Section */
.hero-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.5rem;
    margin-bottom: 6.5rem;
    margin-top: 3.0rem;
    height: 610px;
    align-items: stretch;
    position: relative; 
}

.hero-section::before {
    content: '';
    position: absolute;
    top: calc(-3.0rem - 2rem);
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: calc(100% + (3.0rem + 2rem) + (1.75rem + 1rem));
    background-color: var(--background-content);
    z-index: 0; /* Set to 0 to be contained by parent */
}

.hero-left {
    min-height: 0;
    height: 100%;
    display: flex;
    /* Ensure content is above the ::before pseudo-element */
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.hero-left:hover{
    cursor: pointer;
}

.hero-left .hero-pic {
    width: 100%;
    height: 100%;
    background-color: var(--background-dark);
    border-radius: 10px;
    box-shadow: var(--shadow-strong);
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
}

.hero-left .hero-pic::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 10px;
    background: var(--overlay-gradient-hero);
    pointer-events: none;
    z-index: 1;
}

.hero-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    transform: scale(1.02); /* Slightly larger to begin with */
    transition: transform 0.2s ease-in-out; /* Animation for the zoom effect */
}

.hero-left:hover .hero-pic img {
    transform: scale(1.1); /* Zoom in on hover */
}

.hero-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    color: var(--color-text-light);
    font-size: 2.2rem;
    font-weight: Regular;
    z-index: 2;
    font-family: 'Formula Font';
    text-shadow: var(--color-black);
}

.hero-left:hover .hero-text {
    text-decoration: underline;
}

.hero-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hero-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    /* Ensure content is above the ::before pseudo-element */
    position: relative;
    z-index: 1;
}

.featured {
    background-color: var(--background-featured);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: var(--shadow-subtle);
    flex: 1;
    display: flex;
    gap: 1rem;
    align-items: stretch;
    position: relative; /* Needed for the pseudo-element positioning */
}

.featured:hover p {
    text-decoration: underline;
    cursor: pointer;
}

.featured-image {
    width: 75px;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
    display: block;
    transition: transform 0.2s ease-in-out;
}

.featured-image-container {
    width: 75px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 8px;
}

.featured:hover .featured-image {
    transform: scale(1.1); /* Zoom in on hover */
}

.featured-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    justify-content: center;
    font-family: 'Formula Font';
}

.featured h3 {
    margin: 0;
    color: var(--color-white);
    font-size: 0.9rem;
}

.featured p {
    color: var(--color-white);
    font-size: 0.85rem;
    margin: 0;
}

/* Spotlight Section */
.spotlight-section {
    margin-bottom: 3rem;
}

.spotlight-section + .spotlight-section {
    margin-top: -1.5rem;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--color-text-light);
    font-family: 'Formula Font';
}

.spotlight-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: start;
}

.spotlight-grid-flipped {
    grid-template-columns: 1fr 1fr 2fr;
}

.spotlight-left {
    display: flex;
    flex-direction: column;
    padding-right: 0.75rem;
}

.spotlight-middle {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding-left: 0.75rem;
}

.spotlight-grid-flipped .spotlight-middle {
    padding-right: 0.75rem;
}

.spotlight-right {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding-left: 1.5rem;
}

.spotlight-grid-flipped .spotlight-right {
    padding-left: 0.75rem;
}

.spotlight-large-image {
    width: 100%;
    height: 500px;
    background-color: var(--background-spotlight-placeholder);
    border-radius: 8px;
    box-shadow: var(--shadow-subtle);
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
}

.spotlight-large-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container, maintaining aspect ratio */
    object-position: center; /* Centers the image within the container */
    transition: transform 0.2s ease-in-out;
}

.spotlight-large-image:hover {
    cursor: pointer;
}

.spotlight-large-image:hover img {
    transform: scale(1.1);
}

.spotlight-small-image {
    width: 100%;
    height: 250px;
    background-color: var(--background-spotlight-placeholder);
    border-radius: 8px 8px 0 0;
    flex-shrink: 0;
    overflow: hidden; /* Clip the image to the container's rounded corners */
}

.spotlight-small-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
    object-position: center; /* Centers the image */
    transition: transform 0.2s ease-in-out;
}

.spotlight-left:hover,
.spotlight-middle:hover, 
.spotlight-right:hover {
    cursor: pointer;
}

.spotlight-left:hover .spotlight-small-image img,
.spotlight-middle:hover .spotlight-small-image img, 
.spotlight-right:hover .spotlight-small-image img {
    transform: scale(1.1);
}

.spotlight-left-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: 'Formula Font';
}

.spotlight-text {
    height: 250px;
    background-color: var(--background-content);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
    border-radius: 0 0 8px 8px;
    box-shadow: var(--shadow-medium);
}

.spotlight-left-text h3 {
    font-size: 1.5rem;
    color: var(--color-text-light);
    margin: 0;
}

.spotlight-large-image:hover .spotlight-left-text h3,
.spotlight-left:hover .spotlight-text h4,
.spotlight-middle:hover .spotlight-text h4, 
.spotlight-right:hover .spotlight-text h4 {
    text-decoration: underline;
}

.spotlight-left-text p {
    color: var(--color-text-light);
    font-size: 0.9rem;
    margin: 0;
}

.spotlight-text h4 {
    font-size: 1.2rem;
    color: var(--color-white);
    margin: 0;
    font-family: 'Formula Font';
    font-weight: 400;
}

.spotlight-text p {
    color: var(--color-text-dark-grey);
    font-size: 0.85rem;
    margin: 0;
}

/* Quick Links Section */
.quick-links-section {
    margin-bottom: 3rem;
    overflow-x: auto;
}

.links-items {
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 1rem 0;
    font-family: 'Formula Font';
}

.links-item {
    display: flex;
    width: 100%; /* Ensure the container takes full width */
    justify-content: space-between; /* Pushes text left and icon right */
    align-items: center; /* Vertically centers the text and icon */
    gap: 0.5rem;
    padding: 1rem 2rem;
    background-color: var(--background-quick-links);
    border-radius: 5px;
    box-shadow: var(--shadow-subtle);
    white-space: nowrap;
    transition: opacity 0.2s ease, transform 0.1s ease, box-shadow 0.1s ease;
}

.links-item:hover {
    opacity: 0.8; /* Dims the button on hover */
}

.links-item:active {
    transform: translateY(2px); /* Moves the button down to "sink" it */
    box-shadow: 0 0 2px rgba(0,0,0,0.1); /* Reduces shadow for a pressed look */
    opacity: 0.9; /* Slightly less dim than hover when active */
}

.links-icon {
    font-size: 0.8rem;
    color: var(--color-text-dark-grey);
}

/* Season Section */
.season-section {
    margin-bottom: 3rem;
}

.feedback-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    background-color: var(--ui-grey-dark);
    color: var(--color-white);
    position: relative; /* Needed for the overlay */
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg width="100%25" height="100%25" viewBox="0 0 604 604" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="%233c3d42"%3E%3Cpath d="M498.887 64.6914L563.251 0.324951H547.162L482.793 64.6914H498.887Z"/%3E%3Cpath d="M373.131 138.985H389.222L463.51 64.6914H447.422L373.131 138.985Z"/%3E%3Cpath d="M539.408 94.5181H507.037L398.811 202.749H431.181L539.408 94.5181Z"/%3E%3Cpath d="M502.781 94.5181H468.244L360.024 202.742H349.31L210.479 341.581H221.802L360.629 202.749H394.555L502.781 94.5181Z"/%3E%3Cpath d="M267.781 370.643L376.011 262.417H341.469L233.243 370.643H267.781Z"/%3E%3Cpath d="M90.6777 237.31L283.362 44.6238H248.82L56.1357 237.31H90.6777Z"/%3E%3Cpath d="M87.8858 112.728L200.286 0.324951H183.117L70.7139 112.728H87.8858Z"/%3E%3Cpath d="M545.048 0.324951H527.878L463.51 64.6914H480.682L545.048 0.324951Z"/%3E%3Cpath d="M0 282.12V293.438L56.1353 237.31H44.8123L0 282.12Z"/%3E%3Cpath d="M353.848 138.985H371.017L445.311 64.6914H428.139L353.848 138.985Z"/%3E%3Cpath d="M30.5937 308.631L0 339.225V355.318L46.6874 308.631H30.5937Z"/%3E%3Cpath d="M279.76 155.594H255.605L3.58594 407.605H27.7468L279.76 155.594Z"/%3E%3Cpath d="M0 180.65V196.742L65.027 131.713H48.9354L0 180.65Z"/%3E%3Cpath d="M94.9258 237.31H127.297L319.98 44.6238H287.612L94.9258 237.31Z"/%3E%3Cpath d="M0 319.943V337.113L28.4821 308.631H11.3102L0 319.943Z"/%3E%3Cpath d="M196.664 380.474L86.1133 491.025H97.4362L207.987 380.474H196.664Z"/%3E%3Cpath d="M31.2457 237.31L0 268.555V280.635L43.325 237.31H31.2457Z"/%3E%3Cpath d="M269.289 204.999H278.292L344.305 138.985H335.303L269.289 204.999Z"/%3E%3Cpath d="M151.994 341.575L218.008 275.563H209.005L142.998 341.575H151.994Z"/%3E%3Cpath d="M279.4 204.999H287.834L353.848 138.985H345.412L279.4 204.999Z"/%3E%3Cpath d="M603.206 402.161H591.889L500.253 493.797H511.569L603.206 402.161Z"/%3E%3Cpath d="M93.5768 548.891L38.1426 604.325H54.2342L109.664 548.891H93.5768Z"/%3E%3Cpath d="M558.188 382.925L604 337.113V319.943L541.022 382.925H558.188Z"/%3E%3Cpath d="M587.604 298.54H598.926L604 293.466V282.143L587.604 298.54Z"/%3E%3Cpath d="M604 339.225L560.3 382.925H576.394L604 355.318V339.225Z"/%3E%3Cpath d="M54.2343 0.324951H38.1427L19.2832 19.1844H35.3769L54.2343 0.324951Z"/%3E%3Cpath d="M88.214 0.324951H79.2115L29.6816 49.8548H38.6842L88.214 0.324951Z"/%3E%3Cpath d="M29.6817 49.8547H18.3651L0 68.2199V79.5364L29.6817 49.8547Z"/%3E%3Cpath d="M0 54.6532V66.7283L16.8736 49.8547H4.80064L0 54.6532Z"/%3E%3Cpath d="M486.686 493.797H498.761L590.397 402.161H578.324L486.686 493.797Z"/%3E%3Cpath d="M204.68 454.276L130.393 528.569H146.48L220.767 454.282H232.847L316.486 370.643H304.404L220.772 454.276H204.68Z"/%3E%3Cpath d="M314.366 434.956L144.999 604.325H161.093L330.46 434.956H314.366Z"/%3E%3Cpath d="M380.262 262.417L272.036 370.643H304.405L412.631 262.417H380.262Z"/%3E%3Cpath d="M268.638 581.3H291.277L574.037 298.54H551.398L268.638 581.3Z"/%3E%3Cpath d="M74.2936 548.891L18.8594 604.325H36.0292L91.457 548.891H74.2936Z"/%3E%3Cpath d="M375.214 545.341L525.362 395.2H508.192L358.049 545.341H375.214Z"/%3E%3Cpath d="M574.037 298.54H586.119L604 280.658V268.579L574.037 298.54Z"/%3E%3Cpath d="M317.971 370.643L234.332 454.282H245.655L329.294 370.643H317.971Z"/%3E%3Cpath d="M295.083 434.956L125.716 604.325H142.886L312.254 434.956H295.083Z"/%3E%3Cpath d="M282.737 155.594L30.7197 407.605H53.3592L305.377 155.594H282.737Z"/%3E%3Cpath d="M143.934 548.605H134.932L79.2119 604.325H88.2144L143.934 548.605Z"/%3E%3Cpath d="M223.311 581.3H206.139L183.116 604.325H200.286L223.311 581.3Z"/%3E%3Cpath d="M0 161.367V178.535L46.8216 131.713H29.6519L0 161.367Z"/%3E%3Cpath d="M527.475 395.2L377.326 545.341H393.42L543.567 395.2H527.475Z"/%3E%3Cpath d="M548.428 298.54H524.267L241.511 581.3H265.667L548.428 298.54Z"/%3E%3Cpath d="M241.511 581.3H225.423L202.4 604.325H218.49L241.511 581.3Z"/%3E%3Cpath d="M72.5486 491.025H84.628L195.179 380.474H183.1L72.5465 491.025H56.4591L0 547.487V563.576L72.5486 491.025Z"/%3E%3Cpath d="M39.792 49.8548H48.232L97.7576 0.324951H89.3219L39.792 49.8548Z"/%3E%3Cpath d="M106.06 19.9813H123.231L142.886 0.324951H125.716L106.06 19.9813Z"/%3E%3Cpath d="M54.3475 491.025H37.1756L0 528.203V545.373L54.3475 491.025Z"/%3E%3Cpath d="M604 493.574V484.573L548.05 540.523H557.052L604 493.574Z"/%3E%3Cpath d="M558.16 540.523H566.594L603.999 503.117V494.684L558.16 540.523Z"/%3E%3Cpath d="M604.001 563.576V547.487L547.162 604.325H563.254L604.001 563.576Z"/%3E%3Cpath d="M36.0293 0.324951H18.8595L0 19.1844H17.1698L36.0293 0.324951Z"/%3E%3Cpath d="M604 545.373V528.203L527.878 604.325H545.048L604 545.373Z"/%3E%3Cpath d="M418.31 545.341H406.987L348.007 604.325H359.326L418.31 545.341Z"/%3E%3Cpath d="M591.19 460.129H579.117L434.917 604.325H446.996L591.19 460.129Z"/%3E%3Cpath d="M405.502 545.341H393.42L334.44 604.325H346.518L405.502 545.341Z"/%3E%3Cpath d="M604 460.129H592.681L448.483 604.325H459.804L604 460.129Z"/%3E%3Cpath d="M125.343 19.9813H141.437L161.093 0.324951H144.999L125.343 19.9813Z"/%3E%3Cpath d="M153.473 548.605H145.04L89.3223 604.325H97.758L153.473 548.605Z"/%3E%3Cpath d="M119.916 418.579L196.914 341.575H180.826L103.822 418.579H115.269H119.916Z"/%3E%3Cpath d="M202.566 454.276H185.397L111.109 528.57H128.279L202.566 454.276Z"/%3E%3Cpath d="M527.54 225.068H515.46L379.864 360.669H391.946L527.54 225.068Z"/%3E%3Cpath d="M347.825 202.742H335.746L196.913 341.575L208.995 341.581L347.825 202.742Z"/%3E%3Cpath d="M66.0135 418.562L0 484.573V493.574L75.0097 418.562H66.0135Z"/%3E%3Cpath d="M514.867 187.952L440.58 262.246H456.667L530.961 187.952H514.867Z"/%3E%3Cpath d="M76.1219 418.562L0 494.684V503.118L84.5555 418.562H76.1219Z"/%3E%3Cpath d="M219.116 275.563L153.103 341.575H161.543L227.556 275.563H219.116Z"/%3E%3Cpath d="M178.712 341.575H161.543L84.5557 418.562L101.708 418.579L178.712 341.575Z"/%3E%3Cpath d="M328.425 19.9068H339.741L359.323 0.324951H348.007L328.425 19.9068Z"/%3E%3Cpath d="M89.9971 112.728H106.091L218.489 0.324951H202.4L89.9971 112.728Z"/%3E%3Cpath d="M324.832 110.407H336.914L446.996 0.324951H434.919L324.832 110.407Z"/%3E%3Cpath d="M338.399 110.407H349.722L459.805 0.324951H448.484L338.399 110.407Z"/%3E%3Cpath d="M314.858 19.9068H326.933L346.515 0.324951H334.44L314.858 19.9068Z"/%3E%3Cpath d="M484.268 187.952H495.584L604 79.5365V68.22L484.268 187.952Z"/%3E%3Cpath d="M438.46 262.246L512.754 187.952H495.584L421.297 262.246H438.46Z"/%3E%3Cpath d="M470.701 187.952H482.776L604 66.7284V54.6533L470.701 187.952Z"/%3E%3Cpath d="M559.591 225.087H575.685L604 196.769V180.674L559.591 225.087Z"/%3E%3Cpath d="M540.331 225.088H557.477L604 178.56V161.395L540.324 225.068H529.025L393.431 360.669H404.747L540.331 225.088Z"/%3E%3C/g%3E%3C/svg%3E');
    padding: 2rem;
    border-radius: 8px;
}

.feedback-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay-dark-60); /* Using your existing overlay color */
    border-radius: 8px; /* Match the parent's border-radius */
    z-index: 1;
}

.feedback-left {
    position: relative;
    z-index: 2;
}

.feedback-left h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Formula Font';
}

.feedback-left p {
    color: var(--color-text-grey);
    font-family: 'Formula Font';
    font-size: 1rem;
}

.feedback-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative; /* Ensure form elements are above the overlay */
    z-index: 2;
}

.email-input,
.feedback {
    padding: 0.75rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-f1-red);
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Formula Font';
}

.feedback {
    min-height: 100px; /* Set a minimum height */
    max-height: 300px; /* Set a maximum height to prevent it from getting too large */
    resize: none; /* Disable manual resizing */
    overflow-y: auto; /* Show a scrollbar if content exceeds max-height */
}

/* Footer */
.footer {
    background-color: var(--background-footer);
    color: var(--color-white);
    padding: 2rem;
}

.footer::after {
    content: '';
    position: absolute;
    bottom: 10rem; /* Position it above the social icons and other content */
    left: 0;
    right: 0;
    height: 100px; /* Adjust height as needed */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25200 200'%3E%3Cpath d='M200 0h25000v91h-25091Z' fill='%233c3d42'/%3E%3Cpath d='M0 200h25200v-97h-25103Z' fill='%233c3d42'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    z-index: 0;
    pointer-events: none; /* Make sure it doesn't interfere with clicks */
}

.footer-content {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apps h3 {
    margin-bottom: 1rem;
    font-family: 'Formula Font';
}

.apps-logo {
    background-color: var(--color-f1-logo-bg);
    color: var(--color-white);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Formula Font';
    padding: 0.5rem 1rem;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 1rem;
}

.app-store-buttons {
    width: 200px;
    height: 40px;
    background-color: var(--ui-grey-medium);
    border-radius: 4px;
    margin-bottom: 1rem;
}

.social-icons {
    display: flex;
    gap: 0.5rem;
}

.social-icon {
    width: 30px;
    height: 30px;
    background-color: var(--ui-grey-medium);
    border-radius: 4px;
}

.display-mode-btn {
    background-color: var(--ui-grey-medium);
    color: var(--color-white);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.display-mode-btn:hover {
    background-color: var(--color-text-dark-grey);
}

/* Keyframes for the button glow rotation */
@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.send-feedback-btn {
    background-color: var(--color-f1-red); /* F1 red color */
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    padding: 12px 30px;
    margin-right: 20px;
    font-family: 'Formula Font';
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    align-self: flex-end;
    margin-top: 1rem; /* Add some space above the button */
}

.send-feedback-btn:hover {
    background-color: var(--color-f1-red-hover); /* A slightly different shade on hover */
}

/* Styles for the new feedback form */
#feedback-form {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Adds space between form elements */
}